<% layout('boilerPlate') -%>

<section class="vh-100">
  <div class="container py-5 h-75">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://images.unsplash.com/photo-1517520267752-34bfde704a0f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" id="loginImg" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height:630px">
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form action="/user/signup" method="POST">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">TFS Sign up</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                  <div class="container mb-4 p-0">
                    <div class="row">
                      <div class="col">
                        <input type="text" id="first" class="form-control form-control-lg" name="first">
                        <label class="form-label" for="first">First Name</label>
                      </div>
                      <div class="col">
                        <input type="text" id="last" class="form-control form-control-lg" name="last">
                        <label class="form-label" for="last">Last Name</label>
                      </div>
                    </div>

                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="username" class="form-control form-control-lg" name="username">
                    <label class="form-label" for="username">User Account</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="password" class="form-control form-control-lg" name="password">
                    <label class="form-label" for="password">Password</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block">Sign up</button>
                  </div>

                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>